.base {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}
body {
  background-color: #f2f4ff;
}
.base_left {
  width: 23%;
  min-height: 80vh;
}

.base_right {
  width: 50%;
  height: 80vh;
}
.Navbar {
  min-height: 5vh;
  border: 1px solid gray;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  overflow: hidden;
  background-color: rgb(55, 63, 104);
  color: white;
}

.cardContainer {
  /* min-height: 70vh; */
  // border: 1px solid gray;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
.cardContent {
  min-height: 5vh;
  border: 1px solid transparent;
  border-radius: 1rem;
  // margin-top: -1rem;
  padding: 1rem;
}
.cardProducts {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  // margin-top: -2rem;
}
.category {
  border-radius: 0.5rem;
  background-color: #f2f4ff;
  font-weight: 600;
  margin: 0.6rem;
  padding: 0.3rem;
  border: 1px solid transparent;
  cursor: pointer;
  color: #4661e6;
}
.category:hover {
  border: 1px solid transparent;
  background-color: #4661e6;
  color: #f2f4ff;
}
.upvotes {
  margin-right: 5rem;
}
.cardContentHeading {
  font-weight: 600;
  color: black;
}
.card1 {
  min-height: 10vh;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;

  cursor: pointer;
  background-image: url(../../assets/suggestions/desktop/background-header.png);
  // background: #12c2e9;
  // background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  // background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}
.card1 h6,
h4 {
  color: white;
}

.card2 {
  min-height: 10vh;
  margin: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.card2Button {
  border-radius: 1rem;
  background-color: #f2f4ff;
  font-weight: 600;
  margin: 0.6rem;
  border: none;
  cursor: pointer;
  color: #4661e6;
}
.card2Button:active {
  color: white;
  cursor: pointer;
  background-color: #4661e6;
}
.card2Button:active:hover {
  color: white;
  cursor: pointer;
  background-color: #4661e6;
}
.card2Button:hover {
  background-color: #647196;
  color: #ffffff;
}
.card3 {
  min-height: 10vh;
  margin: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;

  overflow: hidden;
  cursor: pointer;
}
.card3Heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card3Content ul {
  padding: 5px;
}
.card3Content li {
  padding: 5px;
  margin-left: 35px;
}
.plannedSpan {
  float: right;
  font-weight: 700;
}

.live .progress {
  color: purple;
}
.live {
  color: blue;
}
.planned {
  color: orange;
}
.progress span {
  color: #647196;
}
.live span {
  color: #647196;
}
.planned span {
  color: #647196;
}
